// .current-conditions-container {
//   width: 100%;
//   background-color: white;
// }

h1 {
  text-align: center;
  color: azure;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: #ffffe6;
  font-size: 1.3em;
  //text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
}

